.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.black {
  background-color: #888;
}

.white {
  background-color: #ececec;
}

.piece {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}
