.square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
}

.black {
  background-color: #888;
}

.white {
  background-color: #ececec;
}

.piece {
  position: absolute;
  width: 100%;
  -webkit-user-drag: none;
}

.selected {
  background-color: #14551e80;
}

.possibleMove::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(75%, 75%);
  width: 40%;
  height: 40%;
  background-color: #14551e80;
  border-radius: 50%;
}
