.nav {
  height: 100px;
  padding: 30px 10px;
  font-family: "Montserrat", sans-serif;
  background-color: #ececec;
}

.navList {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
}

.navLeft:hover {
  color: #000;
  background-color: inherit;
}

.navLogo {
  height: 100%;
}

.navRight {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: underline;
  padding: 1rem;
}
